<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="integra.pesintegra">

    <permission
        android:name="com.ecs.google.maps.v2.actionbarsherlock.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.mapdemo.permission.MAPS_RECEIVE" />

    <!-- Network connectivity permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Access Google based webservices -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- External storage for caching. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- My Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Presentation.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Presentation.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.PostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.InformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.AllPostsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.CreateActivityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.ChangeMailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.AdvancedSearchActivity"
            android:screenOrientation="portrait" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Presentation.MapsActivity"
            android:label="@string/title_activity_maps"></activity>
    </application>

</manifest>